.contenedor-principal{
    margin-top: 106px;
}



.contenedor-titulo-tarjetas{
    max-width: 1320px;
    margin: auto;/* para que se centre todo el conenedor al centro */
    padding: 12px; 
    /* para que este al mismo linea que Chemivelca */
    font-family: 'Poppins';
}

.contenedor-tarjetas{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows:auto ;
    gap: 1em;
}
.tarjeta{
    display: grid;
    grid-template-columns: 1fr;
    border-radius:5%;
    border: 3px solid;
    border-color: #49505791;
    background:rgb(253, 252, 252);
    padding: 1.5em;
    gap: 0.5em;
    height: 100%;
    
}

.tarjeta > img{
    justify-content: center;
    max-width: 6vw;
    margin: auto;
}
.tarjeta > h4{
    font-family: 'Poppins'; 
    margin: auto;
    margin-bottom: 5px;
    text-align: center;
}
.tarjeta > h5{
    margin-bottom: 0px;
    font-size: 16px;
}

.tarjeta > p{
    margin-bottom: 0px;
    font-size: 15px;
}


.titulo-tarjetas, h6,h5{
    font-family: 'Poppins'; 
}
.contenedor-letras
    
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    
}




/*** ESTILOS BOTÓN SLIDE TOP ***/
.ov-btn-slide-top {
    background: #c4c4c9; /* color de fondo */
    color: black; /* color de fuente */
    border: 2px solid #c4c4c9; /* tamaño y color de borde */
    padding: 10px 15px;
    border-radius: 3px; /* redondear bordes */
    position: static; 
    display: inline-block;
    margin:auto;
    font-size: 14px;
  }
  .ov-btn-slide-top:hover {
    color: #faf8f8; /* color de fuente hover */
    background: black;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }

#seccion-a #seccion-b{
    display: none;
}






/* CELULAR */

@media (min-width:320px){

.contenedor-titulo-tarjetas{
    max-width: 540px;
    margin: auto;/* para que se centre todo el conenedor al centro */
    padding: 12px; /* para que este al mismo linea que Chemivelca */
}
.contenedor-tarjetas{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:auto ;
    gap: 1em;
    
}



.tarjeta{
    display: grid;
    grid-template-columns: 1fr;
    width: 230px;
    border-radius:5%;
    border: 3px solid;
    border-color: #49505791;
    background:rgb(253, 252, 252);
    padding: 1em;
    gap: 0.5em;
    margin: auto;
    height: 100%;
    
}

.tarjeta > img{
    justify-content: center;
    max-width: 50px;
    margin: auto;
}


.contenedor-enunciado{
    padding: 10px;
    position: sticky;
    top: 63px;
    background: white;
    width: 296px;
    height: 122px;

}
.contenedor-letras{
    flex-wrap: wrap;
    position: sticky;
    background: white;
    top: 40px;
}
.titulo-tarjetas{
    font-size: 23px;
}



.abecedario{
    position: sticky;
    background: white;
    top: 185px;
    width: 296px;
}
.letras{
    background: #1977cc;
    border-color: #1977cc;
    color: white;
}
}
@media (min-width:375px){
    .abecedario,.contenedor-enunciado{
        width: 351px;
    }
}
@media (min-width:425px){
    .abecedario,.contenedor-enunciado{
        width: 401px;
    }
}


@media (min-width:650px){

    .contenedor-titulo-tarjetas{
        max-width: 540px;
        margin: auto;/* para que se centre todo el conenedor al centro */
        padding: 12px; /* para que este al mismo linea que Chemivelca */
    }
    .contenedor-tarjetas{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows:auto ;
        gap: 1em;
        
    }
    
    
    .tarjeta{
        font-size: 12px;
        display: grid;
        grid-template-columns: 1fr;
        width: 200px;
        border-radius:5%;
        border: 3px solid;
        border-color: #49505791;
        background:rgb(253, 252, 252);
        padding: 1em;
        gap: 0.5em;
        margin: auto;
        height: 100%;
        
    }
    

    .tarjeta > h4{
        font-family: 'Poppins'; 
        margin: auto;
        margin-bottom: 5px;
        text-align: center;
    }
    .tarjeta > img{
        justify-content: center;
        max-width: 50px;
        margin: auto;
    }
    .abecedario,.contenedor-enunciado{
        width: 516px;
    }
}

/* TABLET */
 @media (min-width:768px){

        .contenedor-titulo-tarjetas{
            max-width: 720px;
            margin: auto;/* para que se centre todo el conenedor al centro */
            padding: 12px; /* para que este al mismo linea que Chemivelca */
        }
        .contenedor-tarjetas{
            display: grid;
            grid-template-columns: repeat(2,1fr);    /* CAMBIE*/
            grid-template-rows:auto ;
            gap: 1em;
            width: 460px;
           
            
        }
        
        
        .tarjeta{
            font-size: 12px;
            display: grid;
            grid-template-columns: 1fr;
            width: 222px; 
            border-radius:5%;
            border: 3px solid;
            border-color: #49505791;
            background:rgb(253, 252, 252);
            padding: 1em;
            gap: 0.5em;
            margin: auto;
            height: 100%;
            
        }
        

        .tarjeta > h4{
            font-family: 'Poppins'; 
            margin: auto;
            margin-bottom: 5px;
            text-align: center;
        }

/* ESTILOS AÑADIDOS ABECEDARIO */

        .contenedor-abecedario-tarjetas{
            display: grid;
            grid-template-columns: repeat(2,1fr);   /* SIEMPRE SERAN 2 */
            max-width: 720px;
            gap: 1em;
            position: staticw;
        }



/* ABECEDARIO */

.abecedario{
    max-width: 220px; 
}
.contenedor-letras{
    padding: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: white;
    position: sticky;
    top: 185px;
    z-index: -1;

    
}

.letras{
    padding: 1em;
    border: 1px solid;
    border-color: rgb(248, 250, 250);
    background-color: #1977cc;
    color: white;
    font-weight: bold;
    top:78px;
}

.contenedor-enunciado{
    padding: 10px;
    background: white;
    width: 696px;
    height: 122px;
    z-index: 1;


}



}
/* LAPTOP */
@media (min-width:1023px){

            .contenedor-titulo-tarjetas{
                max-width: 960px;
                margin: auto;/* para que se centre todo el conenedor al centro */
                padding: 12px; /* para que este al mismo linea que Chemivelca */
            }
            .contenedor-tarjetas{
                display: grid;
                grid-template-columns: repeat(3,1fr);
                grid-template-rows:auto ;
                gap: 1em;
                width: 718px;
                
            }
            
            
            .tarjeta{
                font-size: 12px;
                display: grid;
                grid-template-columns: 1fr;
                width: 220px;
                border-radius:5%;
                border: 3px solid;
                border-color: #49505791;
                background:rgb(253, 252, 252);
                padding: 1em;
                gap: 0.5em;
                margin: auto;
                height: 100%;
                
            }
            
    
            .tarjeta > h4{
                font-family: 'Poppins'; 
                margin: auto;
                margin-bottom: 5px;
                text-align: center;
            }
        



/* ESTILOS AÑADIDOS ABECEDARIO */

.contenedor-abecedario-tarjetas{
    display: grid;
    grid-template-columns: repeat(2,1fr);   /* SIEMPRE SERAN 2 */
    max-width: 936px;
    gap: 1em;
}
.abecedario{
    max-width: 202px; 

}



.contenedor-enunciado{

    width: 936px;
    height: 122px;
    z-index: 1;
    top: 78px;


}

.contenedor-letras{

    top: 200px;

    
}

            
}

/* DESKOTP */
@media (min-width:1440px){

                .contenedor-titulo-tarjetas{
                    max-width: 1320px;
                    margin: auto;/* para que se centre todo el conenedor al centro */
                    padding: 12px; /* para que este al mismo linea que Chemivelca */
                }
                .contenedor-tarjetas{
                    display: grid;
                    grid-template-columns: repeat(4,1fr);
                    grid-template-rows:auto ;
                    gap: 1em;
                    width: 1024px;
                    
                }
                
                
                .tarjeta{
                    font-size: 12px;
                    display: grid;
                    grid-template-columns: 1fr;
                    width: 240px;
                    border-radius:5%;
                    border: 3px solid;
                    border-color: #49505791;
                    background:rgb(253, 252, 252);
                    padding: 1em;
                    gap: 0.5em;
                    margin: auto;
                    height: 100%;
                    
                }
                
        
                .tarjeta > h4{
                    font-family: 'Poppins'; 
                    margin: auto;
                    margin-bottom: 5px;
                    text-align: center;
                }


/* ESTILOS AÑADIDOS ABECEDARIO */

.contenedor-abecedario-tarjetas{
    display: grid;
    grid-template-columns: repeat(2,1fr);   /* SIEMPRE SERAN 2 */
    max-width: 1296px;
    gap: 1em;
}


.abecedario{
    max-width: 256px; 

}

.contenedor-enunciado{

    width: 1296px;
    height: 122px;
    z-index: 1;
    top: 78px;


}

.contenedor-letras{

    top: 200px;

}
}
